/* common */
body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3, h4, p{
  margin: 0;
}
.container{
  margin: 0 auto;
  overflow: hidden;
}
img{
  vertical-align: bottom;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: opacity .3s;
}
a:hover{
  opacity: 0.5;
}
/* header */
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 2% 3%;
}
header h1{
  font-size: 6vw;
}
header span{
  color: #fff;
  text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000;
}
header ul{
  display: flex;
}
header a{
  font-size: 3vw;
  padding: 22px;
}
/* main */
main .container{
  margin: 16px 3% 0;
  padding: 0;
}
/* .about */
.about .container{
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.about .container div + div{
  margin-top: 10%;
}
.about img{
  border: 4px solid #000;
  object-fit: cover;
  width: 50vw;
  box-shadow: 10px 5px 5px orange;
}
.about h2{
  color: #fff;
  font-size: 7vw;
  position: relative;
  left: -26%;
  width: 100vw;
  text-shadow: 3px 3px 3px #333;
}
.about h2 span{
  color: #000;
  text-shadow: none;
}

.about p{
  padding-top: 16px;
  padding-left: 3%;
  font-size: 2.5vw;
}
/* .value */
.value{
  margin-top: 64px;
}
.value h2{
  font-size: 7vw;
  width: 80%;
  margin: 0 auto;
}
.value-p{
  margin-top: 10%;
  border: 4px solid orange;
  font-size: 2.5vw;
}
.value .top-message{
  transform: translateY(-50%);
  width: 70%;
  background: #fff;
  border: 4px solid orange;
}
.value p{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid orange;
}
.value ul{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.value li{
  width: 30%;
  text-align: center;
}
.value img{
  aspect-ratio: 1 / 1;
  width: 60%;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 16px;
}
.value ul li p{
  text-align: center;
  align-items: center;
}
/* .member */
.member .container{
  display: flex;
  margin-top: 64px;
}
.member img{
  aspect-ratio: 1 / 1;
  border: 4px solid #000;
  object-fit: cover;
  width: 50vw;
  box-shadow: 10px 5px 5px orange;
}
.member .info{
  width: 40%;
}
.member .info > div{
  height: 100%;
}
.member h2{
  width: 100%;
  font-size: 7vw;
  padding-left: 10%;
}
.member .profile{
  border: 2px solid #333;
  margin-top: 5%;
  margin-left: 10%;
  width: 100%;
  height: 78%;
}
.member .name{
  padding: 3%;
}
.member .name h3{
  font-size: 4vw;
}
.member .name p{
  font-size: 3vw;
}
.career{
  padding-top: 5%;
  padding-left: 3%;
}
.career h4{
  font-size: 3.5vw;
}
.career ul{
  margin: 0;
  padding-left: 20px;
}
.career li{
  list-style: circle;
  font-size: 3vw;
}
.message{
  border: 2px solid #333;
  margin-top: 32px;
  padding: 3%;
}
.message h3{
  font-size: 4vw;
}
.message p{
  padding-top: 3%;
  font-size: 3vw;
}
.contact{
  margin-top: 32px;
}
.contact h2{
  font-size: 5vw;
}
.contact p{
  padding-top: 3%;
  font-size: 3vw;
}

/* footer */
footer .container{
  margin-top: 32px;
  padding: 3% 5%;
  background: #eee;
  text-align: center;
}